@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#wrapper {
	width: 400px;
	height: 650px;
	margin: 50px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-template-areas:
		"h2 above above above"
		"img img img img"
		"article article article article"
		"article article article article"
		"article article article article";
	gap: 7px;
	background-color: aliceblue;
	border-radius: 20px;
	border: 3px solid black;
	opacity: 0;
	animation: fadeIn 2s ease-in-out forwards;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#wrapper:hover {
	transform: scale(1.05);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.692);
	animation: fadeIn 2s ease-in-out forwards;
}

h2 {
	background-color: rgba(0, 81, 51, 1);
	color: rgb(255, 255, 255);
	grid-area: h2;
	border: 3px solid black;
	border-radius: 15px;
	font-size: 5em;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}
.description {
	grid-area: above;
	border: 3px solid black;
	border-radius: 15px;
	padding: 20px;
}

h3 {
	font-size: 1.45em;
}
h5 {
	font-size: 1em;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1;
}

h4 {
	font-size: 2em;
	color: rgba(0, 81, 51, 1);
	line-height: 1.4;
}
p {
	font-size: 13px;
}
#image {
	grid-area: img;
	max-width: 100%;
	height: auto;
	border: 3px solid black;
	border-radius: 15px;
}

article {
	grid-area: article;
}

#wrapper2 {
	width: 100%;
	height: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		"eins zwei drei vier"
		"fuenf sechs sieben acht"
		"neun zehn elf zwoelf";
	border: 2px solid black;
	border-radius: 15px;
}
.icon {
	max-width: 50px;
	transition: transform 0.3s ease-in-out;
}

.icon:hover {
	transform: rotate(180deg);
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
}
.cardText {
	padding-top: 8px;
	text-align: center;
}

#eins {
	grid-area: eins;

	border-radius: 13px 0 0 0;
}
#zwei {
	grid-area: zwei;
}
#drei {
	grid-area: drei;
}
#vier {
	grid-area: vier;
	border-radius: 0 13px 0 0;
}
#fuenf {
	grid-area: fuenf;
}
#sechs {
	grid-area: sechs;
}
#sieben {
	grid-area: sieben;
}
#acht {
	grid-area: acht;
}
#neun {
	grid-area: neun;
	border-radius: 0 0 0 13px;
}
#zehn {
	grid-area: zehn;
}
#elf {
	grid-area: elf;
}
#zwoelf {
	grid-area: zwoelf;
	border-radius: 0 0 13px 0;
}

.topLeftRounded {
	border-top-left-radius: 10px;
}

.topRightRounded {
	border-top-right-radius: 10px;
}

.bottomLeftRounded {
	border-bottom-left-radius: 10px;
}

.bottomRightRounded {
	border-bottom-right-radius: 10px;
}
