* {
	box-sizing: border-box;
}

#wrapper {
	width: 800px;
	margin: auto;
}

header,
aside,
main,
footer {
	background-color: gray;
	margin: 20px;
}

#logo {
	background-color: red;
	height: 20px;
	width: 200px;
	margin: 10px;
}

body {
	margin: 0;
}

header {
	height: 120px;
	padding: 10px;
}

nav,
article {
	background-color: blue;
}

nav {
	height: 40px;
	margin: 10px;
}

main {
	height: 300px;
	padding: 10px;
	width: 490px;
	display: inline-block;
}

article {
	height: 50px;
	width: 80px;
	margin: 10px;
	float: left;
	border: 10px solid white;
}

aside {
	height: 300px;
	width: 220px;
	display: inline-block;
}

footer {
	height: 300px;
}
